<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nj.cloudalibaba.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="com.nj.cloudalibaba.model.Product">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="stock" jdbcType="INTEGER" property="stock" />
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
    id, name, price, stock, add_time, update_time
    </sql>


    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from product
        where id = #{id}
    </select>

    <!--事务回滚，将减去的产品库存在加回去-->
    <update id="rollbackTcc">
        update product SET stock =stock + #{amount}
    WHERE id = #{productId}
    </update>






    <!--减库存-->
    <update id="reduceStock">
    update product SET stock = #{amount}
    WHERE id = #{productId} AND stock >= #{amount}
  </update>

</mapper>